<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="nav nav-tabs" id="competencyTab">
  <li class="active"><a href="#general" data-toggle="tab">Competency profile</a></li>
  <li><a href="#activity" data-toggle="tab">Activity</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="general">
  <p>No different specification in technical, method related, social/self and leadership competencies yet (since this is a demo version).</p>
  <p>In the real version, likely five different database collumns will be build. This to capture and manage the 'normal' competencies and also the organisational competencies. These will be created in the dictionary function and will be rendered(displayed) on this page for user interaction.</p>

    <%= f.fields_for :competencies do |builder| %>
    <table class="competencies">
      <tr>
        <th id="competency_name" align="left">Competency name</th>
        <th id="select_field_th">Importance level</th>
        <th id="select_field_th">CP Value</th>
        <th></th>
      </tr>

      <tr>
        <%= render 'competency_fields', f: builder %>
      </tr>
    </table>
        <%= link_to_add_fields "New competency", f, :competencies %>
    <% end %>

  </div>

  <div class="tab-pane" id="activity">
    <p>Each update will be displayed on the home page to track user activity. This tab gives you the opportunity to make a litte note for yourself. In future versions this function will be added on a side panel rather than in a tab, however for now it is here, so you won't miss it :)</p>
    <%= render 'positions/forms/competency_profile/create_tweet' %>
  </div>
</div>


<%= f.submit "Save Competency Profile", :name => "competency_profile_button", :class => 'btn btn-success', :id => 'submit_button' %>

<% end %>
