<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.fields_for :competencies do |builder| %>
<table class="competencies">
  <tr>
    <th id="competency_field">Competency</th>
    <th>Importance level</th>
    <th>CP Value</th>
    <th></th>
  </tr>

  <tr>
    <%= render 'competency_fields', f: builder %>
  </tr>
</table>
    <%= link_to_add_fields "New competency", f, :competencies %>
<% end %>

<br/>

<%= f.submit "Save Competency Profile", :name => "competency_profile_button", :class => 'btn btn-success', :id => 'submit_button' %>

<% end %>
