<div class="span1">
  <br/><%= link_to 'Edit HR profile', edit_hr_profile_position_path %>
</div>

<div class="span10">

  <h2>Human Resources Profile</h2>
  <hr />

  <table class="table">
    <tr>
      <th>Personal details</th>
      <th></th>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @position.name %></td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td><%= @position.birth_date.strftime("%d %B %Y") unless @position.birth_date.nil? %></td>
    </tr>
    <tr>
      <td>Age</td>
      <td><%= @position.age %></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><%= @position.gender %></td>
    </tr>
    <tr>
      <td>Nationality</td>
      <td><%= @position.nationality %></td>
    </tr>
    <tr>
      <td>Residential Status</td>
      <td><%= @position.res_status %></td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <th>Job related details</th>
      <th></th>
    </tr>
    <tr>
      <td>Start date of employement</td>
      <td><%= @position.start_date.strftime("%d %B %Y") unless @position.start_date.nil? %></td>
    </tr>
    <tr>
      <td>Type of contract</td>
      <td><%= @position.type_contract %></td>
    </tr>
    <tr>
      <td>Next Performance Appraisal</td>
      <td><%= @position.next_performance_talk.strftime("%d %B %Y") unless @position.next_performance_talk.nil? %></td>
    </tr>
  </table>
  <hr />

</div>

<div class="span1">
  <br/>
</div>
